# Node Modules
front-end/node_modules
back-end/node_modules

# Profile Images
back-end/public/profile_images

# IDEA
.idea

# DS_STORE
.DS_STORE
back-end/errors.log
back-end/info.log
back-end/package-lock.json
